:root {
  --site-font: 'Barlow',"Arial", sans-serif;
  --font-color: #fefcf7;
  --bg-color: #fefcf7;
  --btn-color: #0E8784;
  --sct-heading: #83888F;
  --title-color: #333D4B;
}


@font-face {
  font-family: 'Fraunces 9pt';
  src: url('../font/Fraunces9pt-Black.woff2') format('woff2'),
      url('../font/Fraunces9pt-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Barlow';
  src: url('../font/Barlow-Regular.woff2') format('woff2'),
      url('../font/Barlow-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Barlow';
  src: url('../font/Barlow-Bold.woff2') format('woff2'),
      url('../font/Barlow-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}


/* GENERAL */
html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: var(--site-font);
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  background-color: var(--bg-color);
  color: var(--font-color);
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* CONTAINER */
.container {
  width: 100%;
  max-width: 1320px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}


/* SCROLL */
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 1px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(184, 184, 184); 
  border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(184, 184, 184); 
}



/* SITE-HEADER */
.site-header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 33px;
  padding-bottom: 40px;
  padding: 33px 4px 40px 4px;
}

.site-header__logo {
  text-decoration: none;
  flex-shrink: 0;
}

.site-header__logo-img {
  display: block;
}

.site-header__nav {
  display: none;
  padding-top: 40px;
  position: absolute;
  top: 100%;
  left: -20px;
  right: -20px;
  height: calc(100vh - 90px);
  overflow: auto;
  font-family: 'Fraunces 9pt';
  text-align: center;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  background-image: linear-gradient(0deg, rgba(254, 252, 247, 0.504981) 0%, #FEFCF7 55.94%);
}

.site-header_open .site-header__nav {
  display: block;
}

.site-nav__list {  
  padding: 0;
  margin: 0;
  list-style: none;
}

.site-nav__item:not(:last-child) {
  margin-bottom: 32px;
}

.site-nav__link {
  display: inline-block;
  font-weight: 900;
  color: #333D4B;
  text-decoration: none;
  text-transform: capitalize;
}

.site-header__btn {
  padding: 0;
  border: 0;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  background-image: url(../img/icon/byrger.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-color: transparent;
}

.site-header_open .site-header__btn {
  background-image: url(../img/icon/quite-btn.svg);
}



/* COFFEE FEATURES */
.coffee-features {
  /* padding: 100px auto 100px auto; */
  padding-top: 100px;
  padding-bottom: 99px;
  padding-left: 24px;
  padding-right: 24px;
  background-image: url(../img/Bitmap.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-radius: 10px;
}

.coffee-features__heading {
  margin: 0 0 24px 0;
  font-family: 'Fraunces 9pt';
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
}

.coffee-features__text {
  margin: 0;
  margin-bottom: 39px;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  mix-blend-mode: normal;
  opacity: 0.8;
}

.site-link {
  display: inline-block;
  padding: 14px 31px 16px;
  border-radius: 6px;
  font-family: 'Fraunces 9pt';
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;
  text-decoration: none;
  color: var(--font-color);
  background-color: var(--btn-color);
}

.coffee-features__link-wrap {
  display: flex;
  justify-content: center;
}



/* OUR COLLECTION */
.our-collection {
  position: relative;
  padding-top: 120px;
  padding-bottom: 120px;
}

.our-collection__heading {
  margin: 0;
  margin-bottom: 13px;
  font-family: 'Fraunces 9pt';
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 72px;
  color: #83888F;
  text-align: center;
  background-image: linear-gradient(180deg, rgba(254, 252, 247, 0.0001) 0%, #FEFCF7 100%);
    background-color: #83888f;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

.our-collection__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.collections__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.collections__item:not(:last-child) {
  margin-bottom: 48px;
}

.collections__item-inner {
  width: 282px;
  text-align: center;
}

.collections__item-img {
  margin-bottom: 24px;
}

.collections__item-heading {
  margin: 0;
  margin-bottom: 16px;
  font-family: 'Fraunces 9pt';
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #333D4B;
}

.collections__item-desc {
  margin: 0;
  text-align: center;
  color: #333D4B;
}


/* FACILITES */
.facilites {
  padding-bottom: 120px;
}

.facilities__top {
  position: relative;
  z-index: 1;
  padding: 64px 21px 33px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #272D34;
}

.facilities__top::after {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 634px;
  top: 100%;
  left: 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #242930;
  content: '';
}

.facilities__title {
  margin-top: 0;
  margin-bottom: 24px;
  text-align: center;
  font-family: 'Fraunces 9pt';
  font-style: normal;
  font-weight: 900;
  font-size: 28px;
  line-height: 28px;
}

.facilities__desc {
  margin: 0;
  text-align: center;
}



/* FACILITIE CARD */
.facilities__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.facilities__item {
  position: relative;
  z-index: 1;
  width: 280px;
  margin: 0 auto;
}

.facilities__item:first-child {
  margin-top: 36px;
}

.facilities__item:not(:last-child) {
  margin-bottom: 24px;
}

.facilities__item::before {
  position: absolute;
  z-index: 1;
  top: 72px;
  left:  calc(50% - 36px);
  width: 72px;
  height: 72px;
  background-repeat: no-repeat;
  background-position: center center;
  content: '';
}

.bean::before {
  background-image: url(../img/bean.svg);
}

.surprise::before {
  background-image: url(../img/surprise.svg);
}

.car::before {
  background-image: url(../img/car.svg);
}

.facilitie-card {
  padding: 200px 26px 51px;
  border-radius: 8px;
  background-color: var(--btn-color);
}

.facilitie__heading {
  margin-top: 0;
  margin-bottom: 24px;
  text-align: center;
  font-family: 'Fraunces 9pt';
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
}

.facilitie__text {
  margin: 0;
  max-width: 212px;
  text-align: center;
}


/* HOW IT WORK */
.how-it-work {
  padding-bottom: 120px;
}

.how-it-work__heading {
  margin-top: 0;
  margin-bottom: 80px;
  font-family: 'Fraunces 9pt';
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: var(--sct-heading);
}

.how-it-work__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
  counter-reset: steps;
}

.how-it-work__item {
  counter-increment: steps;
}

.how-it-work__item:not(:last-child) {
  margin-bottom: 56px;
}

.how-it-work__item:last-child {
  margin-bottom: 79px;
}

.how-it-work__item::before {
  display: block;
  margin-bottom: 24px;
  font-family: 'Fraunces 9pt';
  font-weight: 900;
  font-size: 72px;
  line-height: 1;
  text-align: center;
  color: #fdd6ba;
  content: '0' counter(steps);
}

.how-it-work__item-title {
  margin-top: 0;
  margin-bottom: 24px;
  font-family: 'Fraunces 9pt';
  font-weight: 900;
  font-size: 28px;
  line-height: 32px;
  text-align: center;
  color: var(--title-color);
}

.how-it-work__item-desc {
  margin: 0;
  text-align: center;
  color: var(--title-color);
}

.how-it-work__link-wrap {
  display: flex;
  justify-content: center;
}

/* MEDIA */
@media only screen and (min-width: 568px) {

  .coffee-features {
    padding: 104px 233px 104px 58px;
    background-image: url(../img/hero-tablet-b.png);
  }

  .coffee-features__heading {
    font-size: 48px;
    line-height: 48px;
    text-align: left;
  }

  .coffee-features__text {
    text-align: left;
    width: 398px;
  } 

  .coffee-features__link-wrap {
    justify-content: flex-start;
  }

  .our-collection {
    padding-top: 203px;
  }

  .our-collection__heading {
    font-size: 75px;
    line-height: 1;
    background-image: linear-gradient(180deg, rgba(254, 252, 247, 0.0001) -20%, #FEFCF7 100%);
  }

  .our-collection__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: -42px;
  }

  .collections__item {
    flex-direction: row;
    align-items: flex-start;
  }

  .collections__item:not(:last-child) {
    margin-bottom: 32px;
  }

  .collections__item-img {
    flex-shrink: 0;
    width: 255px;
    height: 193px;
    object-fit: contain;
    margin-right: 36px;
  }

  .collections__item-inner {
    width: 282px;
    text-align: left;
    margin-top: 30px;
  }

  .collections__item-heading {
    margin-bottom: 24px;
  }

  .collections__item-desc {
    text-align: left;
  }


  .our-collection__heading {
    margin: 0;
  }

  @media
    only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (   min--moz-device-pixel-ratio: 2),
    only screen and (     -o-min-device-pixel-ratio: 2/1),
    only screen and (        min-device-pixel-ratio: 2),
    only screen and (                min-resolution: 192dpi),
    only screen and (                min-resolution: 2dppx) { 
      .coffee-features {
        background-image: url(../img/hero-tablet-b@2x.png);
      }
  }
}


/* CENTER */
@media only screen and (min-width: 768px) {

  .site-header {
    padding-top: 40px;
    padding-bottom: 53px;
  }

  .site-header__logo-img {
    width: 236px;
    height: 26px;
  }

  .site-header__btn {
    display: none;
  }

  .site-header__nav {
    display: block;
    position: relative;
    height: auto;
    top: 0;
    left: 0;
    right: 0;
    font-family: 'Barlow';
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.9px;
  }

  .site-nav__list {
    display: flex;
    align-items: center;
  }

  .site-nav__item:not(:last-child) {
    margin-bottom: 0;
    margin-right: 33px;
  }

  .site-nav__link {
    color: #83888F;
    text-transform: uppercase;
  }

  .our-collection__heading {
    font-size: 96px;
    line-height: 72px;
  }



  /* FACILITIES */
  .facilites {
    padding-bottom: 144px;
  }

  .facilities__top::after {
    height: 344px;
    background-color: #272d34;
  }

  .facilities__top-inner {
    max-width: 527px;
    margin: 0 auto;
  }

  .facilities__title {
    font-size: 32px;
    line-height: 48px;
  }

  .facilities__item {
    padding: 41px 48px 41px 181px;
    width: 573px;
  }

  .facilities__item::before {
    width: 56px;
    height: 56px;
    background-size: contain;
    top: 65px;
    left: calc(50% - 216px);
  }

  .facilitie__text {
    text-align: left;
    max-width: 344px;
  }

  .facilitie__heading {
    text-align: left;
  }



  /* HOW IT WORK */
  .how-it-work__heading {
    margin-bottom: 119px;
    text-align: left; 
  }

  .how-it-work__list {
    position: relative;
    z-index: 1;
    flex-direction: row;
    justify-content: space-between;
  }

  .how-it-work__list::before {
    position: absolute;
    z-index: 1;
    left: 0;
    top: -48px;
    margin-bottom: 48px;
    width: 497px;
    height: 31px;
    background-image: url(../img/how-it-work-decoration.svg);
    content: '';
  }

  .how-it-work__item {
    max-width: calc(100%/3 - 30px);
  }

  .how-it-work__item:last-child {
    margin-bottom: 0;
  }
  
  .how-it-work__item::before {
    margin-bottom: 42px;
    text-align: left;
  }

  .how-it-work__item-title {
    margin-bottom: 39px;
    text-align: left;
  }

  .how-it-work__item-desc {
    text-align: left;
  }
}


/* MEDIA DESKTOP */
@media only screen and (min-width: 900px) {
  .site-header {
    padding-top: 44px;
    padding-bottom: 43px;
  }

  .site-header__logo:active {
    opacity: 0.6;
  }

  .site-nav__link {
    transition: color 0.3s ease;
  }

  .site-nav__link:hover {
    color: #333D4B;
  }

  .coffee-features {
    background-image: url(../img/hero-desktop-bg.png);
    background-size: cover;
    background-position: center 0;
  }

  .coffee-features__heading {
    width: 493px;
    font-size: 72px;
    line-height: 72px;
  }

  .our-collection {
    padding-bottom: 200px;
  }

  .our-collection__heading {
    text-align: center;
    font-size: 150px;
    line-height: 140px;
    left: 90px;
    top: 126px;
  }

  .our-collection__list {
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: -70px;
  }
  
  .our-collection__list-wrapper {
    margin: 0 auto;
    max-width: 1110px;
  }

  .collections__item {
    flex-direction: column;
    justify-content: center;
    max-width: calc(100% / 4 - 30px);
  }

  .collections__item:not(:last-child) {
    margin: 0;
  }

  .collections__item-inner {
    max-width: 255px;
    margin: 0;
  }

  .collections__item-img {
    margin: 0 auto;
    margin-bottom: 68px;
  }

  .collections__item-heading {
    text-align: center;
  }

  .collections__item-desc {
    text-align: center;
  }

}


@media only screen and (min-width: 1045px) {
  .facilities__top::after {
    top: 99%;
    height: 282px;
  }

  .facilities__title {
    margin-bottom: 32px;
    font-size: 40px;
  }

  .facilities__list {
    flex-direction: row;
    align-items: flex-start;
  }

  .facilities__item {
    width: 350px;
  }

  .facilities__item:first-child {
    margin-top: 0;
  } 

  .facilities__item::before {
    width: 72px;
    height: 72px;
    top: 65px;
    left: calc(50% - 40px);
  }

  .facilitie-card {
    padding: 200px 48px 48px;
  }

  .facilitie__heading {
    text-align: center;
  }

  .facilitie__text {
    text-align: center;
    max-width: 255px;
  }
}

@media only screen and (min-width: 892px) and (max-width: 1117px) {
  .our-collection__heading {
    font-size: 100px;
  }
  .collections__item-inner {
    max-width: 200px;
  }
}

@media only screen and (max-width: 1082px) and (min-width: 899px) {
  .collections__item-img {
    margin-bottom: 10px;
  }
}


@media
  only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (   min--moz-device-pixel-ratio: 2),
  only screen and (     -o-min-device-pixel-ratio: 2/1),
  only screen and (        min-device-pixel-ratio: 2),
  only screen and (                min-resolution: 192dpi),
  only screen and (                min-resolution: 2dppx) { 
    .coffee-features {
      background-image: url(../img/hero-desktop-bg@2x.png);
    }
}